@using HairCut.ViewModels
@model AppointmentVm

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.StartTime, htmlAttributes:
                       new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.StartTime)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes:
                      new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Price)
        </div>
    </div>
</div>
