@model HairCut.ViewModels.ClientVm

@{
    ViewData["Title"] = "Edit Client";
}

<h2>Edit Client</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactMobile" class="control-label"></label>
                <input asp-for="ContactMobile" class="form-control" />
                <span asp-validation-for="ContactMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactMail" class="control-label"></label>
                <input asp-for="ContactMail" class="form-control" />
                <span asp-validation-for="ContactMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointments" class="control-label"></label>
                <input asp-for="Appointments" class="form-control" />
                <span asp-validation-for="Appointments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

